body{
    background-color: #FF9F29;
}
h1{
    text-align: center;
    border: 2px solid black;
}

#mainContainer{
    /* border: 4px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}


/* main box css */
.main {
    height: 525px;
    width: 525px;
    background-image: url("./Snake-and-Ladder-Template-1.png");
    background-size: 525px 525px;
    background-repeat: no-repeat;
    float: left;
    border: 3px solid #A52A2A;
}

.superimposed {

    height: 500px;
    width: 500px;
    position: absolute;
    top: 90px;
    left: 20px;
}

.boardbox {
    height: 50px;
    width: 50px;
    z-index: -1;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Dice style */



#dice {
    height: 80px;
    width: 80px;
    font-size: 70px;
    color: black;
    margin: auto;
    border: none;
    background-color: white;
}